@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @media (max-width: 1023px) {
    font-size: 93.75%;
  }

  @media (max-width: 767px) {
    font-size: 87.5%;
  }

  @media (max-width: 639px) {
    font-size: 75%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.responsive-sidebar-without-toggle {
  @apply max-[800px]:max-w-sidebar-md max-md:max-w-sidebar-sm max-[650px]:hidden;
}

.responsive-sidebar-with-toggle {
  @apply max-[650px]:max-w-sidebar-all max-[650px]:z-10 max-[650px]:fixed max-[650px]:inset-[20px];
}

.sidebar-show {
  @apply block;
}

.card-primary-animation {
  @apply transition-colors border-2 border-transparent hover:cursor-pointer hover:border-2 hover:border-gray-600;
}

.card-secondary-animation {
  @apply transition-colors border-2 border-transparent hover:cursor-pointer hover:border-2 hover:border-gray-500;
}

::-webkit-scrollbar {
  @apply w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-gray-700;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-600;
}
